<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143540983737-bpod9a0kon5i7lf98q4ufjccf4trqs5f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143540983737-bpod9a0kon5i7lf98q4ufjccf4trqs5f</string>
	<key>API_KEY</key>
	<string>AIzaSyAJbGM6uWEXuone1eNTN7dwJytV4QC5XMI</string>
	<key>GCM_SENDER_ID</key>
	<string>143540983737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.metropolitanapp.lb</string>
	<key>PROJECT_ID</key>
	<string>metropolitansecurity-f1854</string>
	<key>STORAGE_BUCKET</key>
	<string>metropolitansecurity-f1854.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143540983737:ios:59c01603586ff0c6c00868</string>
	<key>DATABASE_URL</key>
	<string>https://metropolitansecurity-f1854.firebaseio.com</string>
</dict>
</plist>